.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.text {
  font-weight: bold;
}
.text02 {
  color: rgba(50, 165, 165, 0.49);
}
.link {
  display: contents;
}
.button {
  color: #f8f30f;
}
.button1 {
  color: #0089be;
}
.text05 {
  font-style: italic;
  font-weight: bold;
}
.text08 {
  text-decoration: underline ;
}
.text11 {
  font-weight: 400;
}
.image {
  width: 110.2px;
  object-fit: cover;
}
